<div id="box_login">
  <div class="container">
    <div class="span12 box_wrapper">
      <div class="span12 box">
        <div class="head">
          <h4>Create a new account</h4>
        </div>
        <div class="social">
          <a class="face_login" href="#">
                                <span class="face_icon">
                                    <img src="img/i_face.png" alt="fb">
                                </span>
            <span class="text">Sign up with Facebook</span>
          </a>

          <div class="division">
            <hr class="left">
            <span>or</span>
            <hr class="right">
          </div>
        </div>
        <div class="form">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
             <%= devise_error_messages! %>

               <%= f.text_field :first_name, placeholder: "First Name" %>

               <%= f.text_field :last_name, placeholder: "Last Name" %>

               <%= f.email_field :email, placeholder: "Email" %>

               <%= f.password_field :password, placeholder: "Password" %>

               <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

             <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
      <p class="already">Already have and account? <%= link_to "Sign in", new_user_session_path %></p>
    </div>
  </div>
</div>
</div>


