
<%= simple_form_for([@chronicle, @event], html: {class: 'form-horizontal'}) do |f| %>
   <%= f.error_notification %>
   <%= f.input :title %>
   <%= f.input :start_date, start_year: 1800, end_year: 2100, :include_blank => true %>
   <%= f.input :end_date, start_year: 1800, end_year: 2100, :include_blank => true %>

   <div class="control-group string">
     <label class="control-label"></label>
     <div class="controls">
       <div class="input-append">
         <input class="string geocode-input span2" id="appendedInputButton" type="text">
         <button class="btn submit-geocode" type="button"><i class="icon-search"></i></button>
       </div>
     </div>
   </div>

   <div class="event-map">
      <span>
         <%= map_image latitude: @event.latitude, longitude: @event.longitude %>
      </span>
   </div>

   <%= f.input :longitude %>
   <%= f.input :latitude %>
   <%= f.input :location, label: "Location Title" %>
   <%= f.input :description, input_html: {rows: 3} %>
   <%= f.input :image_url %>

   <%= f.fields_for :properties, OpenStruct.new(@event.properties) do |builder| %>
      <% @event.chronicle.fields.each do |field| %>
         <%= render "chronicles/fields/#{field.field_type}", field: field, f: builder %>
      <% end %>
   <% end %>

   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>
