<%= simple_form_for([@chronicle, @event], html: {class: 'form-horizontal'}) do |f| %>

   <%= f.input :title %>
   <%= f.input :date %>

   <div class="control-group string">
     <label class="control-label"></label>

     <div class="controls">
       <input class="string geocode-input" id="event_title" size="50" type="text" value="">
       <span class="help-inline"><a href="#" class="btn submit-geocode">Set Location Info</a></span>
     </div>
   </div>

   <div class="event-map">
      <span>
         <%= map_image latitude: @event.latitude, longitude: @event.longitude %>
      </span>
   </div>

   <%= f.input :longitude %>
   <%= f.input :latitude %>
   <%= f.input :location, label: "Location Title" %>
   <%= f.input :description, input_html: {rows: 3 }%>
   <%= f.input :value1 %>
   <%= f.input :value2 %>
   <%= f.input :value3 %>

   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>
