<div class="row">

  <div class="span6">
    <%= will_paginate @events, next_label: '<i class="icon-arrow-right"></i>', previous_label: '<i class="icon-arrow-left" ></i>' %>
    <table id="index-chronicle-events" class="table table-index table-striped table-hover">
      <tr>
        <th><%= sortable "title", "Title" %></th>
        <th><%= sortable "start_date", "Date" %></th>
        <th></th>
      </tr>

      <% @events.each do |event| %>
         <tr data-link="<%= chronicle_event_path(@chronicle, event) %>">
           <td><%= event.title %></td>
           <td><%= event.start_date.strftime('%b %d, %Y') %></td>
           <td><%= link_to 'Destroy', chronicle_event_path(@chronicle, event), method: :delete, data: {confirm: 'Are you sure?'} %></td>
         </tr>
      <% end %>
    </table>

  </div>

  <div class="span6">
    <div id="feature-event">

    </div>
  </div>
</div>


<br/>

<%= link_to 'New Event', new_chronicle_event_path(@chronicle, Event.new) %>


<h2>Import</h2>

<%= form_tag import_chronicle_events_path(@chronicle), multipart: true do  %>
   <%=  file_field_tag :file %>
   <%=  submit_tag "Import" %>
<% end %>