<% if false %>
   <h1>New event</h1>
   <%= render 'form' %>
   <%= link_to 'Back', chronicle_events_path %>

<% end %>

<%= simple_form_for([@chronicle, @event], html: {class: 'form-horizontal'}) do |f| %>

   <%= f.error_notification %>

   <div class="pricing-table">
     <div class="color-666777">
       <h3>New event</h3>

       <div class="title"><%= f.input :title %></div>

       <%= f.input :start_date, start_year: Date.current.year - 250, end_year: Date.current.year + 1, :include_blank => true %>
       <%= f.input :end_date, start_year: Date.current.year - 250, end_year: Date.current.year + 1, :include_blank => true %>

       <div class="control-group string">
         <label class="control-label">Locator</label>

         <div class="controls">
           <div class="input-append">
             <input class="string geocode-input span2" id="appendedInputButton" type="text">
             <button class="btn submit-geocode" type="button"><i class="icon-search"></i></button>
           </div>

           <style type="text/css">
              .geocode-input {
                 width: 167px !important;
              }

              .event-map {
                 display: none;
                 margin-top: 15px;
              }
           </style>

           <div class="event-map">
                <span>
                  <%= map_image latitude: @event.latitude, longitude: @event.longitude %>
                </span>
           </div>
         </div>
       </div>


       <div class="control-group string">
         <label class="control-label">Latitude/Longitude</label>

         <style type="text/css">
            .lat-lon-fields input {
               width: 94px;
            }
         </style>

         <div class="controls lat-lon-fields">
           <%= f.number_field :latitude, in: -90...90 %>
           <%= f.number_field :longitude, in: -180...180 %>
         </div>
       </div>
       <%= f.input :location, label: "Location Display" %>
       <%= f.input :description, input_html: {rows: 3} %>
       <%= f.input :image_url %>

       <%= f.fields_for :properties, OpenStruct.new(@event.properties) do |builder| %>
          <% @event.chronicle.fields.each do |field| %>
             <%= render "chronicles/fields/#{field.field_type}", field: field, f: builder %>
          <% end %>
       <% end %>

       <div class="actions">
         <%= f.submit %>
       </div>


     </div>
   </div>

<% end %>