<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Description</th>
    <th>Value1</th>
    <th>Value2</th>
    <th>Value3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.date %></td>
    <td><%= event.location %></td>
    <td><%= event.longitude %></td>
    <td><%= event.latitude %></td>
    <td><%= event.description %></td>
    <td><%= event.value1 %></td>
    <td><%= event.value2 %></td>
    <td><%= event.value3 %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
