<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.start_date %>
</p>


<p>
  <b>Date:</b>
  <%= @event.end_date %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_chronicle_event_path(@event) %> |
<%= link_to 'Back', chronicle_events_path %>
