<div class="pricing-table">
  <div class="color-666777">
    <h3>@event.title</h3>

    <div class="title"><%= @event.start_date + " - " + @event.end_date %></div>

    <p>
      <b>Latitude:</b>
      <%= @event.latitude %>
    </p>

    <p>
      <b>Longitude:</b>
      <%= @event.longitude %>
    </p>

    <p>
      <b>Map:</b>
      <%= map_image latitude: @event.latitude, longitude: @event.longitude %>
    </p>

    <p>
      <b>Description:</b>
      <%= @event.description %>
    </p>

    <%= f.fields_for :properties, OpenStruct.new(@event.properties) do |builder| %>
       <% @event.chronicle.fields.each do |field| %>
          <%= render "chronicles/fields/#{field.field_type}", field: field, f: builder %>
       <% end %>
    <% end %>

  </div>
</div>