<div id="box_login">
  <div class="container">
    <div class="span12 box_wrapper">
      <div class="span12 box">
        <div class="head">
          <h4>Log in to your account</h4>
        </div>
        <div class="social">
          <a class="face_login" href="#">
                                <span class="face_icon">
                                    <img src="img/i_face.png" alt="fb">
                                </span>
            <span class="text">Sign in with Facebook</span>
          </a>

          <div class="division">
            <hr class="left">
            <span>or</span>
            <hr class="right">
          </div>
        </div>
        <div class="form">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
             <%= devise_error_messages! %>

             <%= f.email_field :email, placeholder: "Email" %>
             <%= f.password_field :password, placeholder: "Password" %>

             <% if devise_mapping.rememberable? -%>
                <div class="remember">
                  <div class="left">
                    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                  </div>
                  <div class="right">
                    <%= link_to "Forgot Password?", password_path(resource_name) %>
                  </div>
                </div>
             <% end %>

             <div><%= f.submit "Sign in", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
      <p class="already">Don't have an account? <%= link_to "Sign up", new_user_registration_path %></p>
    </div>
  </div>
</div>
</div>
