<%= simple_form_for(@chronicle, :html => {:class => 'form-horizontal'}) do |f| %>

   <%= f.input :name %>
   <%= f.input :description, :input_html => {:rows => 3} %>
   <%= f.input :subject %>

   <%= f.fields_for :fields do |builder| %>
      <%= render 'field_fields', f: builder %>
   <% end %>
   <%= link_to_add_fields "Add Field", f, :fields %>

   <div class="control-group">
     <div class="controls">
       <div class="actions">
         <%= f.submit class: "btn" %>
       </div>
     </div>
   </div>


<% end %>
