<%= form_for(@chronicle, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if @chronicle.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@chronicle.errors.count, "error") %> prohibited this chronicle from being saved:</h2>

            <ul>
            <% @chronicle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


    <div class="control-group">
      <label class="control-label"><%= f.label :name %></label>
      <div class="controls">
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= f.label :description %></label>
      <div class="controls">
        <%= f.text_area :description, rows: "4", placeholder: "Description" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= f.label :subject %></label>
      <div class="controls">
        <%= f.text_field :subject, placeholder: "Subject" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Extra Attribute</label>
      <div class="controls">
        <%= f.check_box :use_value1, style: "display: none"%>
        <%= f.text_field :value1_title, placeholder: "Attribute Title" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Extra Attribute</label>
      <div class="controls">
        <%= f.check_box :use_value2, style: "display: none" %>
        <%= f.text_field :value2_title, placeholder: "Attribute Title" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Extra Attribute</label>
      <div class="controls">
        <%= f.check_box :use_value3, style: "display: none" %>
        <%= f.text_field :value3_title, placeholder: "Attribute Title" %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="actions">
          <%= f.submit class: "btn" %>
        </div>
      </div>
    </div>


<% end %>
