<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chronicle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @chronicle.description %>
</p>

<p>
  <b>Subject:</b>
  <%= @chronicle.subject %>
</p>

<%= render 'events/index_by_chronicle' %>

<%= link_to 'Edit', edit_chronicle_path(@chronicle) %> |
<%= link_to 'Back', chronicles_path %>
