<div class="row">

  <div class="span6">
    <div class="crud-wrapper">
      <div class="crud-panel">

        <div class="title wallpaper">
          <h3><%= @chronicle.name %></h3>
        </div>

        <div class="details">
          <p>
            Description: <%= @chronicle.description %>
          </p>

          <p>
            Subject: <%= @chronicle.subject %>          </br>
          </p>

          <%= link_to "Edit", edit_chronicle_path(@chronicle) %>  |
          <%= link_to "Share", edit_chronicle_path(@chronicle) %>  |
          <%= link_to "Find Others", edit_chronicle_path(@chronicle) %>

        </div>

        <%= render 'events/index_by_chronicle' %>

      </div>
    </div>
  </div>

  <div id="featured-event" class="span6">
    <%= render 'events/new' %>
  </div>
</div>

<br/>

<%= link_to 'New Event', new_chronicle_event_path(@chronicle, Event.new) %>

<h2>Import</h2>

<%= form_tag import_chronicle_events_path(@chronicle), multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Import" %>
<% end %>

