<!DOCTYPE html>
<html ng-app>
<head>
  <title>Historacle</title>
  <%= stylesheet_link_tag "historacle", media: "all" %>
  <%= javascript_include_tag "historacle" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <!--[if lte IE 8]>
  <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />-->
  <![endif]-->
</head>

<body id="historacle-viewer">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-slim">
      <%= render "layouts/navbar-inner" %>
    </div>
  </div>
</div>
<%= yield %>
</body>

</html>
